<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="show_sql">true</property>
		<mapping resource="com/avijit/busticketbooking/model/Bus.hbm.xml" />
		<mapping resource="com/avijit/busticketbooking/model/Fare.hbm.xml" />
		<mapping resource="com/avijit/busticketbooking/model/Stop.hbm.xml" />
		<mapping resource="com/avijit/busticketbooking/model/User.hbm.xml" />
		<mapping resource="com/avijit/busticketbooking/model/Midway.hbm.xml" />
		<mapping resource="com/avijit/busticketbooking/model/Route.hbm.xml" />
		<mapping resource="com/avijit/busticketbooking/model/TimeTable.hbm.xml" />
		<mapping resource="com/avijit/busticketbooking/model/Reservation.hbm.xml" />
	</session-factory>
</hibernate-configuration>
